<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Página em Branco</h3>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        Culpa officiis sit temporibus est voluptatem officiis 
                        delectus exercitationem omnis sunt est ut reprehenderit molestiae 
                        cumque nesciunt nobis natus facilis iste ut dignissimos perferendis 
                        quis consequatur et sequi ea maxime a esse quis quisquam ea quia architecto 
                        sunt cupiditate occaecati aspernatur qui repudiandae ab sit rerum repellendus 
                        hic quasi veniam molestiae ex maxime beatae eius consequuntur sunt vel nulla 
                        repellendus praesentium omnis molestiae fugiat quia atque magni debitis ipsam 
                        nam doloribus et corrupti est dolore quia iste dolores natus nemo autem dignissimos 
                        nihil nulla mollitia vitae vero quis labore non adipisci dolor voluptatum voluptatem 
                        laboriosam eos nulla a voluptas nulla fugit voluptas vero sed in earum enim corporis 
                        architecto nulla quasi praesentium non dolore at repudiandae ducimus quia voluptas tempore 
                        adipisci aut facere harum at voluptate ea delectus commodi minus in laboriosam doloremque 
                        reprehenderit saepe.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>